body {
    font-family: Arial, sans-serif;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.popup-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tablink {
    flex: 1;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.tablink:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
    width: 100%;
}

.tabcontent.active {
    display: block;
}


#timeSeriesChart {
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
